.main-product{
    width: 100%;
    margin:0 10px 0 10px;
   
    animation: fadeIn ease 2s;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
    }
    
}
.product-inner h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    color: wheat;
    font-weight: bolder;
    -webkit-text-stroke: 2px brown;
    
    margin-top: 20px;
}
.product-list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.card{
    width: 33.33%;
    
}
.card-img{
    position: relative;
}
.card-img button{
    background-color: wheat; /* Green */
    border: none;
    color: black;
    padding: 16px 32px;

    text-align: center;
    text-decoration: none;
   
    font-size: 16px;
    margin: 4px 2px;
   
    cursor: pointer;

    position: absolute;
    left:43%;
    bottom:43%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.card-img img{
    margin-left:105px;
    width: 60%;
    transition: all 2s;
    
}
.card:hover .card-img img,
.card:focus .card-img img{
    transform: scale(1.3);
    opacity: 50%;
}
.card:hover .card-img button,
.card:focus .card-img button{
   opacity: 1;
}
.card h2{
    margin-top:50px;
    margin-bottom:20px;
    text-align: center;
}
.card{
    border-radius: unset;
    border:0;

}