:root{
    --widthLogo : 15%;
}

nav{
    display: flex;
    flex-wrap:nowrap ;

    height: 100px;
    width: 100%;
    
    background: wheat;
    box-shadow: 5px 5px 5px #aaaaaa;

    position: fixed;
    top: 0;
    z-index: 100;
}

.checkbtn{
    display: none;
    font-size: 30px;
    color: black;
    line-height: 80px;

    position: absolute;
    right: 0;
    top:18%;
    margin-right: 40px;
}

.row-logo{
    display: inherit;
    width: var(--widthLogo);
}
.row-header{
    width: 85%;
    display: flex;
}
.container-row{
    display: contents;
}
.img-logo{
    object-fit: cover;
    cursor: pointer;
    margin-left: 100px;

}
.container-nav{
    position: relative;
    width: 64%;
}
nav ul{
    list-style: none;
    text-transform: uppercase;

    display: flex;

    position: absolute;
    top:40%;
    width: 101%;
    padding-left: 0  !important;
}

nav ul li a{
    margin-left:50px;

    font-size:17px;
    font-weight: bolder;
  
    color:initial;

    position:relative;  
}
nav ul li a:hover{
    color:brown;
}
nav ul li a::after{
    position: absolute;
    bottom:-5px;
    left:50%;

    content: '';
    background: darkred;
    border-radius: 30%;

    height: 5px;
    width: 0;
    

    transform: translateX(-50%);
    transition: width 0.2s ;
    
}
nav ul li a:hover::after{
    width: 80%;
}
.social-media{
    margin-left: 50px;
    width: 10%;

    display: flex;
    flex-wrap: wrap;

    position: relative;
    


}
.container-social-media{
    position: absolute;
    top:45%;
    display: flex;
}
.sc{
    margin-left: 10px;
   
}
.fb img { 
    object-fit: cover;
    cursor: pointer;
    width: 30px;
    opacity: 70%;   
}
.ins img{
    object-fit: cover;
    cursor: pointer;
    width: 25px;
    opacity: 70%;
    margin-top: 2px;
}
.searching-bar{
    position: relative;
   width: 30%;
}
.container-searching-bar{
    position: absolute;
    top: 38%;
    display: flex;
    border: 3px solid black;
    border-radius: 17px;
    background: aliceblue;
   
}
.container-searching-bar p{
    
    margin:5px 6px
}
.search-icon{
    object-fit: cover;
    cursor: pointer;
    width: 25px;
    opacity: 70%;
    margin-left: 10px;
    margin-top:5px;
}
input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: 17px;
    font-size: 16px;
    padding-right:60px;
    margin-left: 10px;
    background: inherit;
  }
  #check{
      display: none;
  }
  @media (max-width:1000px){
  
    .checkbtn{
        display: block;
    }
    .row-header{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:bisque;
        top:80px;
        left: -1000px;
        text-align: center;
        transition: all 0.5s;  

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
   
    .container-nav{
        width: 100%;
        display: flex;
        justify-content: center;
       margin-top: -100px;
    }
    .container-nav ul,.container-social-media{
        
        display:block;
        position: inherit;
    }
    .container-nav ul li{
        
       margin-top:50px;
    }
    .searching-bar{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top:-500px;
    }
    .container-searching-bar{

    }
    .social-media{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top:-300px;
    }

    #check:checked ~ .row-header{
        left:0;
    }
    
}

.sub-nav{
   visibility: hidden;
    opacity: 0;
   

   -webkit-transition: all .25s ease;
   -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
     -o-transition: all .25s ease;
        transition: all .25s ease;
}

.thucdon:hover .sub-nav{
    visibility: visible;
    opacity: 1;
    top:30px;
}
/*nav ul {
       width: 100%;
       display: block;
    }
    nav ul li{
       
        margin-top:50px;
        margin-left:10%;
    }
    .searching-bar{
        display: block;
        width: 100%;
        
        
        
    }
    .container-searching-bar{
        
        display: flex;
        border: 3px solid black;
        border-radius: 17px;
        background: aliceblue;
        margin-left: 30%;
    }

    .container-nav{
        width: 100%;
        position: absolute;
    }
    .social-media{
        display: none;
        width: 100%;
        
    }
    .container-social-media{
        margin-top:50px;
        margin-left:10%;
    }
    #check:checked ~ .row{
        left:0;
    }*/