*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: cursive !important;
  font-size: 14px;
  line-height: 1.6;
  padding-bottom:136px; 
}
a{
  text-decoration: none !important;
}
html{
  min-height: 100%;
  position: relative;
}